extends ../layout 

block content
    a(href='/') Home
    br
    a(href='/bikes') Listado
    br
    h1 Update bike
    form(action=`/bikes/${bike.id}/update` method='POST')
        table.table 
            tr 
                td
                    label(for='id') ID:
                td
                    input#id(type='text' name='id' value=bike.id)
            tr 
                td
                    label(for='color') Color:
                td
                    input#color(type='text' name='color' value=bike.color)
            tr 
                td
                    label(for='model') Model:
                td
                    input#model(type='text' name='model' value=bike.model)
            tr 
                td
                    label(for='lat') Location (lat):
                td
                    input#lat(type='text' name='lat' value=bike.location[0])
            tr 
                td
                    label(for='lon') Location (lon):
                td
                    input#lon(type='text' name='lon' value=bike.location[1])
            tr
                td 
                td
                    input.btn(type='submit' value='Update')